@model CoderWall.Models.CoderbitsModel


<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
        <h1>@Model.UserName</h1>
        <h2>@Model.Title</h2>

        <div>
            <h2>Badges</h2>

            @{
            var earnedBadges = Model.Badges.Where(badges => badges.IsEarned).ToList();
            var badgeNames = earnedBadges.Select(b => b.Name).Distinct();
            }
            @foreach (var badgeName in badgeNames.OrderBy(b => b))
            {
                <h4>@badgeName</h4>
                <div>
                @foreach (var badge in earnedBadges.Where(b => b.Name == badgeName).OrderBy(b => b.Id))
                {                    
                    <img src="@badge.ImageLink" title="@badge.Description" />
                }
                </div>
            }
        </div>
    </div>
</body>
</html>
